@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PharmacyMedicineSupply</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 navbar-dark pl-5 py-3 pr-5">
           
                <a class="navbar-brand" asp-controller="User" asp-action="Index">AuthConsumer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("userName") != null)
                        {
                            @if (ViewContext.RouteData.Values["controller"].ToString() == "User" && ViewContext.RouteData.Values["action"].ToString() == "Index")
                            {
                                <li class="nav-item">
                                    <a class="nav-link bg-primary text-light btn mx-2 " asp-controller="User" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-primary text-light btn mx-2"  asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link bg-primary text-light btn mx-2 " asp-controller="User" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-primary text-light btn mx-2"  asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>

                            }
                            <a class="btn btn-primary"  title="sign-out" asp-controller="User" asp-action="Logout">
                                <span class="fas fade-sign-out-alt"></span>@Context.Session.GetString("userName")
                            </a>
                        }

                    </ul>
                </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AuthConsumer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
